aiohttp==3.8.1
anyio==3.5.0
APScheduler==3.9.1
bbcode==1.1.0
beautifulsoup4==4.11.1
ffmpy3==0.2.4
fontTools==4.33.3
httpx==0.21.3
matplotlib==3.5.2
nonebot2==2.0.0b4
numpy==1.23.0
opencv_python_headless==4.6.0.66
Pillow==9.2.0
playwright==1.21.0
pycryptodome==3.15.0
pydantic==1.9.0
requests==2.27.1
sqlitedict==1.7.0
typing_extensions==4.3.0
